
{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4>Editar Postagem:</h4>
                <form action="/admin/postagem/editar" method="POST">
                <input type="hidden" name="id" value="{{postagem._id}}">
                    <label for="titulo">Título:</label>
                    <input autocomplete="off" type="text" value="{{postagem.titulo}}" name="titulo" class="form-control" required>
                    <label for="slug">Slug:</label>
                    <input autocomplete="off" type="text" value="{{postagem.slug}}" name="slug" class="form-control" required>
                    <label for="descricao">Descrição:</label>
                    <input autocomplete="off" type="text" value="{{postagem.descricao}}" name="descricao" class="form-control" required>
                    <label for="conteudo">Conteudo:</label>
                    <textarea autocomplete="off"  name="conteudo" class="form-control"> {{postagem.conteudo}}</textarea>
                    <input type="checkbox" class=" mt-2" name="checkbox" id="checkbox" onclick="agendar()"><label for="checkbox">Agendar Postagem</label>
                    <input type="date" name="data"  id="dateinput">
                    <input type="datetime" name="hora" id="horas">
                    <button type="submit" class="btn btn-primary mt-4">Salvar</button>
                </form>
            </div>
        </div>
    </div>

    <script>
    const checkbox = document.getElementById('checkbox')
    const dateinput = document.getElementById('dateinput')
    const horas = document.getElementById('horas')
    horas.style.display = 'none'
            dateinput.style.display = 'none'

    function agendar(){
        if(checkbox.checked){
             horas.style.display = 'block'
            dateinput.style.display = 'block'
        }else{
             dateinput.style.display = 'none'
            horas.style.display = 'none'


        }
    }
</script>
   

