
{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4>Editar Postagem:</h4>
                <form action="/admin/postagem/editar" method="POST">
                <input type="hidden" name="id" value="{{postagem._id}}">
                    <label for="titulo">Título:</label>
                    <input autocomplete="off" type="text" value="{{postagem.titulo}}" name="titulo" class="form-control" required>
                    <label for="slug">Slug:</label>
                    <input autocomplete="off" type="text" value="{{postagem.slug}}" name="slug" class="form-control" required>
                    <label for="descricao">Descrição:</label>
                    <input autocomplete="off" type="text" value="{{postagem.descricao}}" name="descricao" class="form-control" required>
                    <label for="conteudo">Conteudo:</label>
                    <textarea autocomplete="off"  name="conteudo" class="form-control"> {{postagem.conteudo}}</textarea>
                    <button type="submit" class="btn btn-primary mt-4">Salvar</button>
                </form>
            </div>
        </div>
    </div>
   

